<h1>Register/Login</h1>

<a href="/auth/google">login/register with Google</a> 
 <!-- <a href="/logout" style="margin: 2px 0px 2px 0px;">logout</a> -->

<!-- <form action="/logout" method="POST" style="margin-top:4px"> <button>logout</button></form> -->