<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts</title>
</head>
<body style="background-color: bisque;">
     <!-- <a href="/logout" style="margin: 2px 0px 2px 0px;">logout</a>  -->

    <form  action="/logout" method="POST" style="margin-top:4px"> <button>logout</button></form>
    <form id ="myForm" action="/posts" method="POST">
        <textarea name="comment"   cols="30" rows="10" style="border-radius: 3px;" placeholder="comment"></textarea>
        <button>submit </button>
    </form>
    <!-- <% if(post){ %>
        <h5>hello</h5>
            <p><%= post.comment %></p>
            <%}%> -->
 <!-- <script>
  // Assuming you have a form with the id "myForm" and an input field with the name "inputField"
  document.getElementById('myForm').addEventListener('submit', function (event) {
    // Prevent the form from actually submitting to the server
    event.preventDefault();
    
    // Clear the input field by setting its value to an empty string
    document.getElementsByName('comment')[0].value = '';
    
    
  });
</script> -->
   
</body>
</html>